# Full list of tools for development
pip==19.0.3
Paver==1.2.4
Tempita==0.5.2
epydoc==3.0.1
bpython==0.18
pylint==1.9.5
tox==3.13.2
mock==3.0.5
twine==1.9.1

# need old versions for Python 2.x
more-itertools==5.0.0

# optional runtime deps
imgurpython==1.1.7
